@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: 'Epiloque', sans-serif;
  box-sizing: border-box;
  background-color: rgb(1, 1, 53); 
  overflow-x: hidden;
  width: 1000vw;
}